<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class = "estilo_base">
        <div class="divisor_1">
            <p class="texto">Your Gold:</p>
            <p class="marcador">{{ request.session.total }}</p>
            <form action='/reset'>
                <button type='submit'>Reset Game</button>
            </form>
        </div>
        <div class="divisor_2">
            <div class="lugares">
                <h2>Farm</h2>
                <h4>(earns 10-20 golds)</h4>
                <form action='/op_1_casino' class = "botones">
                    <button class="boton" type='submit'>Find Gold..!</button>
                </form>
            </div>
            <div class="lugares">
                <h2>Cave</h2>
                <h4>(earns 5-10 golds)</h4>
                <form action='/op_2_casino' class = "botones">
                    <button class="boton" type='submit'>Find Gold..!</button>
                </form>
            </div>
            <div class="lugares">
                <h2>House</h2>
                <h4>(earns 2-5 golds)</h4>
                <form action='/op_3_casino' class = "botones">
                    <button class="boton" type='submit'>Find Gold..!</button>
                </form>
            </div>
            <div class="lugares">

                <h2>Casino</h2>
                <h4>(earns/takes 0-50 golds)</h4>
                <form action='/op_4_casino' class = "botones">
                    <button class="boton" type='submit'>Find Gold..!</button>
                </form>

            </div>
        </div>

        <div class="divisor_3">
            <p class="texto">Activities:</p>
            <p class="texto_resultados">
                <textarea name="texto" rows="6" cols="137">
                    {% for message in request.session.messages %}
                        {{ message }}
                    {% endfor %}
                </textarea>
                
            </p>
        </div>

    </div>
</body>
</html>